
<h1>World_heritage In South America</h1>
<div id="photo",class="box">
<%= image_tag "image100.jpg" %>
<%= image_tag "image101.jpg" %>
<%= image_tag "image102.jpg" ,class:"box1"%>
<%= image_tag "image103.jpg" %>
<%= image_tag "image104.jpg" %>


<%# <div id="photo",class="box"> %>
  <%# <img src="/assets/images/image100.jpg" width="500" height="300" alt="a">
  <img src="/assets/images/image101.jpg" width="500" height="300" alt="e">
  <img src="/assets/images/image102.jpg" width="500" height="300" alt="ssss">
  <img src="/assets/images/image103.jpg" width="500" height="300" alt="o">
  <img src="/assets/images/image104.jpg" width="500" height="300" alt="asassasa"> %>
</div>