<div class="wrapper">
 <div class="side-bar">
  
  <%= render "side_bar" %>

 </div>
  <div class=top>
    <div id="photo",class="box">
     <%= image_tag "image100.jpg" %>
     <%= image_tag "image101.jpg" %>
     <%= image_tag "image102.jpg" ,class:"box1"%>
     <%= image_tag "image103.jpg" %>
     <%= image_tag "image104.jpg" %>
    </div>
  </div>
</div>