<div class="wrapper">
 <div class="next-wrapper">
  
  <div class="chat">
   <div class=top>
    <div id="photo",class="box">
      <%= image_tag "image100.jpg" %>
      <%= image_tag "image101.jpg" %>
      <%= image_tag "image102.jpg" ,class:"box1"%>
      <%= image_tag "image103.jpg" %>
      <%= image_tag "image104.jpg" %>
    </div>
   </div>
   
  </div>
  <div class="country-list">
    <div class="country-title"><世界遺産のある南米の国々></div>
   <div class="user__card">
          <%# <% @heritage.each do |heritage| %>  
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
          <%# <%= render partial: 'heritage',collection: @heritages %>  
          <%# <% end %> 
     <div class="top-weight">
      <div class="weight-contory">
      <div>国名</div>
      <%=link_to'アルゼンチン共和国🇦🇷',(heritages_argentina_path), class:'heritage-show'%>,
      <%=link_to'ウルグアイ東方共和国🇺🇾',"/heritages/new/uruguay",class: 'heritage-show'%>
      <%=link_to'エクアドル共和国🇪🇨',"/heritages/new/ecuador",class: 'heritage-show'%>,<%=link_to'コロンビア共和国🇨🇴',"/heritages/new/columbia",class: 'heritage-show'%>
      <%=link_to'スリナム共和国🇸🇷',"/heritages/new/suriname",class: 'heritage-show'%>,<%=link_to'チリ共和国🇨🇱',"/heritages/new/chile",class: 'heritage-show'%>
      <%=link_to'パラグアイ共和国🇵🇾',"/heritages/new/paraguay",class: 'heritage-show'%>, <%=link_to'ブラジル連邦共和国🇧🇷',"/heritages/new/brazil",class: 'heritage-show'%>
      <%=link_to'ベネズエラ・ボリバル共和国🇻🇪',"/heritages/new/venezuela",class: 'heritage-show'%>,<%=link_to'ペルー共和国🇵🇪',"/heritages/new/peru",class: 'heritage-show'%>
      <%=link_to'ボリビア共和国🇧🇴',"/heritages/new/bolivia",class: 'heritage-show'%>
         
      
     </div>
      
   </div>
  </div>
 </div>

</div>