<div class=country-index>
 <h2 class="country-css"><%=@nation.name %></h2>
  <div class="page">
  <h2 class="page-heading">
  <div class ="country_wrapper">
   <div class="country">
     <ul>
      <% @heritages.each do |heritage| %>
        <li>
          <%= link_to "#{heritage.name}", "http://localhost:3000/heritages/nation?q%5Bnation_id_eq%5D=#{heritage.nation.id}&commit=%E6%A4%9C%E7%B4%A2" %>  
           <%# <%= render partial: 'heritages/heritage',collection: @heritage %> 
           <%= link_to image_tag(heritage.images[0], class: :country_img ), heritage_path(heritage.id) %>
          <div class="country_index">
            <p class="country_summary">
            <%= link_to "#{heritage.register.name}年", heritage_path(heritage.id),class: :country__title %> 
          </div>
        </li>
      <% end %>
     </ul>
   </div>
  </div>
  </h2>
  </div>
</div>
